<table style="width: 100%;">
    <tr>
        <td>
            <a href="yapimcirapor" class="ml-md-auto menulink">Yapımcı Raporu <span class="oi oi-list-rich"></span></a>
        </td>
        <td style="text-align: right;">
            <a href="hakkinda" class="ml-md-auto menulink">Hakkında <span class="oi oi-question-mark"></span></a>
        </td>
    </tr>
</table>